:root {
    --color-main: #ED7D31;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #666666;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 0px;
}

.display-block {
    display: block;
}

.visibility-hidden {
    visibility: hidden;
}

/* header menu */
.container_menu {
    width: 100%;
    /* background-color: #ffffff00; */
    position: fixed;
    z-index: 5;
    top: 0px;
    transition: all 0.5s;
    padding: 10px 25px;
    background-color: #29292902;
    background-image: linear-gradient(180deg, #0000003b 10%, transparent);
}

.active_scroll_menu {
    background-color: #ffffff;
    background-image: none;
    border-bottom: 1px solid #dfdfdf;
    padding: 0px 25px !important;
}

.active_scroll_header {
    color: #000000 !important;
}

.container_menu .wrap_menu {
    width: 100%;
}

.container_menu .wrap_menu .line-row {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.container_menu .wrap_menu .line-row .item-box-row {
    width: 100%;
}

.container_menu .wrap_menu .line-row .hanle_menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.container_menu .wrap_menu .line-row .hanle_menu .btn_menu {
    border: none;
    background: none;
    cursor: pointer;
    color: #ffffff;
}

.container_menu .wrap_menu .line-row .hanle_menu .btn_menu i {
    font-size: 20px;
    margin-bottom: 10px;
}

.wrap_menu-left {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100%;
    left: 0px;
    /* background-color: #000000f5; */
    background-color: #ffffff;
    z-index: 4;
    transition: all 0.3s;
    opacity: 0;
}

.wrap_menu-left .box_contask_menu {
    width: 100%;
    height: 88%;
    padding-top: 80px;
    text-align: center;
    color: #ffffff;
    display: flex;
}

.wrap_menu-left .box_contask_menu .box__flex-menu {
    width: 100%;
}

.box__flex-menu .wrap__line--option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 100px;
}

.box__flex-menu .wrap__line--option>a {
    margin: 25px;
    font-size: 30px;
    text-decoration: none;
    color: #d85600;
    font-weight: 600;
    transition: all 0.4s;
}

.box__flex-menu .wrap__line--option>a:hover {
    transform: translateX(15px);
}


.wrap_menu-left .line__handle__close--menu {
    text-align: center;
}

.line__handle__close--menu button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: none;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    background-color: #afafaf;
    color: #e4e4e4;
}

.show__collection-product {
    padding: 35px 0px;
}

.show__collection-product .heading__text--product {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}

.show__collection-product .wrap__box__overflow {
    height: 100%;
    text-align: center;
    padding: 20px 80px;
    overflow: auto;
}

.show__collection-product .wrap__box__overflow a {
    margin: 20px 0px;
    display: block;
    text-decoration: none;
    color: #d85600;
    font-weight: 600;
}




.show_menu_left {
    top: 0px;
    opacity: 1;
}

.scroll_hidden_body {
    overflow: hidden;
}




.container_menu .wrap_menu .line-row .hanle_menu .btn_search {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 20px;
    color: #ffffff;
}

.container_menu .wrap_menu .line-row .hanle_menu .btn_search i {
    font-size: 20px;
    margin-bottom: 10px;
}


.container_menu .wrap_menu .line-row .logo_introduce {
    display: flex;
    justify-content: center;
}

.container_menu .wrap_menu .line-row .logo_introduce .border-logo {
    width: 180px;
}

.container_menu .wrap_menu .line-row .logo_introduce .border-logo img {
    width: 100%;
}



.container_menu .wrap_menu .line-row .box-control {
    display: flex;
    justify-content: right;
}

.container_menu .wrap_menu .line-row .box-control .btn_cart {
    display: flex;
    align-items: center;
}

.container_menu .wrap_menu .line-row .box-control .btn_cart a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.container_menu .wrap_menu .line-row .box-control .btn_cart .number_list-cart {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #b60000;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #ffffff !important;
}

.container_menu .wrap_menu .line-row .box-control .btn_cart i {
    font-size: 20px;
    margin-bottom: 13px;
}


/* icon account */
.container_menu .wrap_menu .line-row .box-control .btn_account {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.container_menu .wrap_menu .line-row .box-control .btn_account a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.container_menu .wrap_menu .line-row .box-control .btn_account i {
    font-size: 20px;
    margin-bottom: 13px;
}
























/* trang chu */
.body_content {
    width: 100%;
    overflow: hidden;
}

.body_content .wrap_content {
    width: 100%;
}


.wrap_content .front-video-intro {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.wrap_content .front-video-intro video {
    width: 100%;
    transition: all 0.3s;
    transform: scale(1.2);
}

.active_menu_trans_video {
    transform: scale(1) !important;
}

.front-video-intro .show_line_product-top {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0px;
    background-color: #00000025;
}

.show_line_product-top .homepage_push-content {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: #ffffff;
}

.show_line_product-top .homepage_push-content h1 {
    padding-bottom: 10px;
    font-weight: 500;
}

.show_line_product-top .homepage_push-content .line_btn {
    margin-top: 25px;
}

.show_line_product-top .homepage_push-content .line_btn a {
    padding: 15px 25px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #afafaf;
    border-radius: 25px;
    margin: 0px 20px;
    font-size: 18px;
    transition: all 0.5s;
}


.show_line_product-top .homepage_push-content .line_btn a:hover {
    background-color: #ffffff27;
}

.show_line_product-top .homepage_push-content .toggle_mute_video {
    display: flex;
    justify-content: right;
    padding-right: 25px;
}

.show_line_product-top .homepage_push-content .toggle_mute_video button {
    width: 40px;
    height: 40px;
    margin-top: -30px;
    background: none;
    border: 1px solid;
    font-size: 17px;
    color: #ffffff;
    border-radius: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.show_line_product-top .homepage_push-content .line_arrow-down {
    width: 100%;
    margin-top: 40px;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.show_line_product-top .homepage_push-content .border_icon_down {
    width: 30px;
    font-size: 40px;
    cursor: pointer;
    animation: bounce 1s infinite;
}

@keyframes bounce {

    0%,
    to {
        transform: translateY(-30px);
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

/* .box-slide {
    width: 100%;
    margin-top: -5px;
}

.box-slide img {
    width: 100%;
} */
.box__brand--pView{
    position: relative;
}
.box__brand--pView .wrap__brand--pView{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
}


















.wrap__animation_logo-trans-y {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: an_wrap_opacity 1s forwards;
    animation-delay: 2.5s;
}

@keyframes an_wrap_opacity {
    from {
        background-color: #141414;
    }

    to {
        background-color: #14141413;
        transition: all 0.5s;
    }
}

.wrap__animation_logo-trans-y img {
    width: 300px;
    animation: an_img_logo_wrap 1s forwards;
    position: fixed;
    animation-delay: 2s;
}

@keyframes an_img_logo_wrap {
    from {
        top: 50%;
    }

    to {
        width: 180px;
        top: 10px;
    }
}

.remove__hide-wrap_ans_logo-trans {
    display: none;
}